.DS_Store
.build/
build/
DerivedData/
xcuserdata/
*.xcuserdatad/
*.xcuserstate
project.xcworkspace/
xcshareddata/
SourcePackages/
.swiftpm/

.dependencies/
Dependencies/
MacKernelSDK/
Lilu.kext/

*.dSYM/
*.o
*.xcarchive/
*.tar.gz
*.log
*.crash
*.ips
*.dmp

/EFI/
/*.kext/
*.node
Discord*.app/

*.p12
*.pfx
*.mobileprovision
*.key
*.pem
*.cer
*.secrets
.env
.env.*
